In [33]:
import pandas as pd
import numpy as np

In [2]:
#used http://wikitable2csv.ggor.de/ to convert wikitable to csv, very handy!
data = pd.read_csv("A:\dataset\shooting\shooting.csv")
data

,Date,Location,Deaths,Injuries,County,GOV,Description
0,22-Jul-50,"New York City, New York",0,1,NaN,NaN,A 16-year-old boy was shot in the wrist and ab...
1,24-Jan-51,"Alton, Illinois",1,0,Madison County,NaN,"61-year-old Henry Suhre, quartermaster at West..."
2,12-Mar-51,"Union Mills, North Carolina",1,0,Rutherford County,NaN,"Professor W.E. Sweatt, superintendent and teac..."
3,4-Jun-51,"New York City, New York",1,0,NaN,NaN,"Carl Arch, a 50-year-old intruder to a girls' ..."
4,27-Nov-51,"St. Louis, Missouri",1,0,St. Louis County,NaN,"15-year-old student, David Brooks, was fatally..."
5,9-Apr-52,"New York City, New York",1,0,NaN,NaN,A 15-year-old boarding school student shot a d...
6,14-Jul-52,"New York City, New York",1,0,NaN,NaN,Bayard Peakes walked into the offices of the A...
7,2-Oct-53,"Chicago, Illinois",1,0,Cook County,NaN,"14-year-old Bernice Turner, killed 14-year-old..."
8,31-Mar-54,"Newton, Massachusetts",1,0,Middlesex County,NaN,"14-year-old John Frankenberger, was accidental..."
9,15-May-54,"Chapel Hill, North Carolina",1,2,Orange County,NaN,Putnam Davis Jr. was killed during a fraternit...
10,11-Jan-55,"Swarthmore, Pennsylvania",1,0,Delaware County,NaN,After some of his dormmates urinated on his ma...
11,4-May-56,"Seat Pleasant, Maryland",1,2,Prince George's County,NaN,"15-year-old student, Billy Ray Prevatte, fatal..."
12,20-Oct-56,"New York City, New York",0,1,NaN,NaN,A Booker T. Washington Junior High School stud...
13,2-Oct-57,"New York City, New York",0,1,NaN,NaN,A 16-year-old student was shot in the leg by a...
14,4-Mar-58,"New York City, New York",0,1,NaN,NaN,A 17-year-old student shot a boy in the Manual...
15,1-May-58,"Massapequa, New York",1,0,Nassau,NaN,A 15-year-old Massapequa High School freshman ...
16,24-Sep-59,"New York City, New York",1,0,NaN,NaN,Twenty-seven men and boys and an arsenal were ...
17,2-Feb-60,"Hartford City, Indiana",3,0,Blackford County,R,44-year-old school principal Leonard Redden ki...
18,30-Mar-60,"Alice, Texas",1,0,Jim Wells County,D,"14-year-old Donna Dvorak, brought a target pis..."
19,7-Jun-60,"Blaine, Minnesota",2,0,Anoka County,D,"41-year-old mail-carrier, Lester Betts, confro..."
20,4-Jan-61,"Delmont, South Dakota",1,0,Douglas,R,"Donald Kurtz, 17-year-old senior at Delmont Hi..."
21,17-Oct-61,"Denver, Colorado",2,0,Adams County,D,"14-year-old Tennyson Beard, got into an argume..."
22,27-Apr-66,"Bay Shore, New York",1,0,Suffolk County,R,"48-year-old teacher, John S. Lane, was fatally..."
23,1-Aug-66,"Austin, Texas",17,31,Travis County,D,University of Texas massacre: 25-year-old engi...
24,5-Oct-66,"Grand Rapids, Minnesota",1,1,Itasca County,R,"Grand Rapids High School student, 15-year-old ..."
25,12-Nov-66,"Mesa, Arizona",5,2,Maricopa,R,"18-year-old Bob Smith, took seven people hosta..."
26,3-May-67,"Northlake, Illinois",1,1,Cook County,R,"18-year-old dropout, Michael Pisarski killed h..."
27,30-Jan-68,"Miami, Florida",1,0,Miami-Dade,R,16-year-old Blanche Ward killed fellow student...
28,8-Feb-68,"Orangeburg, South Carolina",3,27,Orangeburg County,NaN,"In the days leading up to February 8, 1968, ab..."
29,25-Mar-68,"High Point, North Carolina",1,0,"Davidson, Forsyth, Guilford and Randolph",NaN,"15-year-old David Lee Walker, was killed just ..."
...,...,...,...,...,...,...,...
349,12-Feb-16,"Glendale, Arizona",2,0,NaN,NaN,Two 15-year-old girls died in an apparent Murd...
350,29-Feb-16,"Middletown, Ohio",0,4,NaN,NaN,"15-year-old Cameron Smith, and 14-year-old Coo..."
351,23-Apr-16,"Antigo, Wisconsin",1,2,NaN,NaN,Two students at a prom at Antigo High School w...
352,1-Jun-16,"Los Angeles, California",2,0,NaN,NaN,"2016 UCLA shooting. Mainak Sarkar, age 38, a P..."
353,8-Jun-16,"Dorchester, Massachusetts",1,3,NaN,NaN,One student was killed and three other individ...
354,9-Sep-16,"Alpine, Texas",1,2,NaN,NaN,A 14-year-old female student shot a 16-year-ol...
355,28-Sep-16,"Townville, South Carolina",2,2,NaN,NaN,Townville Elementary School shooting: Two stud...
356,11-Oct-16,"Mobile, Alabama",0,1,NaN,NaN,A student was shot in the abdomen and wounded ...
357,13-Oct-16,"Columbus, Ohio",0,2,NaN,NaN,Two students were shot and wounded on the fron...
358,18-Oct-16,"San Francisco, California",0,4,NaN,NaN,Four students were shot outside June Jordan Hi...
359,25-Oct-16,"Sandy, Utah",0,1,NaN,NaN,Police say the two teens ages 14 and 16 were i...
360,1-Dec-16,"Bountiful, Utah",0,0,NaN,NaN,"At Mueller Park Junior High School, a 15-year-..."
361,20-Jan-17,"West Liberty, Ohio",0,1,NaN,NaN,A 17-year-old student was charged with attempt...
362,20-Jan-17,"Seattle, Washington",0,1,NaN,NaN,A 34-year-old man was shot in Red Square at Un...
363,21-Mar-17,"King City, California",0,1,NaN,NaN,An 18-year-old King City High School student w...
364,10-Apr-17,"San Bernardino, California",3,1,NaN,NaN,North Park Elementary School shooting: Cedric ...
365,4-May-17,"Irving, Texas",2,0,NaN,NaN,North Lake College: Adrian Victor Torres kille...
366,13-Sep-17,"Rockford, Washington",1,3,NaN,NaN,Freeman High School: Three students injured an...
367,20-Sep-17,"Mattoon, Illinois",0,1,NaN,NaN,Mattoon High School: A 14-year-old male studen...
368,14-Nov-17,"Rancho Tehama Reserve, California",6,18,NaN,NaN,Rancho Tehama Reserve shootings: Neighbor on a...
369,7-Dec-17,"Aztec, New Mexico",3,0,NaN,NaN,"Aztec High School shooting: William Atchison, ..."
370,9-Jan-18,"Forest City, Iowa",0,0,NaN,NaN,A man shot a pellet gun at a school bus full o...
371,20-Jan-18,"Winston-Salem, North Carolina",1,0,NaN,NaN,A student was fatally shot at a party at 1 a.m...
372,22-Jan-18,"Italy, Texas",0,1,NaN,NaN,A 16-year-old male student fired at a 15-year-...
373,22-Jan-18,"New Orleans, Louisiana",0,1,NaN,NaN,Shots were fired from a truck in the parking l...
374,23-Jan-18,"Marshall County, Kentucky",2,18,NaN,NaN,Marshall County High School shooting: A 15-yea...
375,1-Feb-18,"Los Angeles, California",0,5,NaN,NaN,"Two 15-year-old students, a boy and a girl, we..."
376,5-Feb-18,"Oxon Hill, Maryland",0,1,NaN,NaN,A student was taken to hospital after exiting ...
377,14-Feb-18,"Parkland, Florida",17,14,NaN,NaN,Marjory Stoneman Douglas High School shooting:...
378,2-Mar-18,"Mount Pleasant, Michigan",2,NaN,NaN,NaN,Central Michigan University shooting: Student ...

In [10]:
city_val = []
for city in data['Location'].str.split(","):
    city_val.append(city)

In [34]:
#this is used to get counties of cities and state, I think there is a better API out there, this partially worked.
from geopy.geocoders import Nominatim
geolocator = Nominatim()
for location in city_val:
    loc = geolocator.geocode(location)
    try:
        city,county,state, zipcode, country = (loc.address.split(','))
    except:
        county = np.nan
    county_val.append(county)
data['County'] = pd.DataFrame(county_val)
# u'Chicago, Cook County, Illinois, United States of America'

# u'SF, California, United States of America'

In [45]:
header = ['County','Location']
data.to_csv("A:\dataset\shooting\county.csv", columns = header)

In [37]:
data['County'].isnull().sum()

0